.Terminal {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    position: absolute;
    animation: terminal 0.3s forwards;
    overflow: hidden;
}

@keyframes terminal {
    from {
        opacity: 0;
        top: 100%;
        width: 100px;
        height: 100px;
    }
    to {
    top: 40%;
    opacity: 1;
    width: 1000px;
    height: 500px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.69);
    position: absolute;
    animation: terminal 0.3s forwards;
    overflow: hidden;
    -webkit-backdrop-filter: blur(20px);
}
}