@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background: linear-gradient(to bottom right, rgb(2, 52, 93), rgb(26, 4, 65));
  background-attachment: fixed;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;

}

.DeksTop {
  width: 100%;
  height: 100%;
}